h1 {
    font-style: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-style: inherit;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#boton {
    padding: 10px;
  
}

